body {
  margin: 0;
  padding: 0;
  background-color: #1e2a3a;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.screen {
  display: flex;
  gap: 5px;
}

.screen1,
.screen2,
.screenResult {
  width: 100%;
  /* height: 50px */
  background-color: black;
  color: white;
  display: block;
  text-align: right;
  padding: 10px 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  height: 50px;
  width: 50px;
  font-size: 16px;
}

ul {
  color: black;
}

.history {
  list-style-type: none;
  height: 200px;
  width: 200px;
  background-color: white;
  overflow-y: auto;
  padding: 5px;
  border-radius: 10px;
}
